@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sidebar-width: 300px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.left-sidebar > div {
  flex-shrink: 0;
  padding: 1rem;
}

.left-sidebar .logo a {
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.left-sidebar nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.left-sidebar nav > span {
  flex-shrink: 0;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.content {
  margin-left: var(--sidebar-width);
  margin-right: var(--sidebar-width);
  min-height: 100vh;
}

.right-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: var(--sidebar-width);
  height: 100vh;
  overflow-y: auto;
}

.footer {
  max-width: 720px;
  margin: 1rem auto;
}

.content article {
  max-width: 720px;
  margin: 1rem auto;
}
